*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body, html {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    background-color: #0D1117;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.buttonStyle{
    background-color: white;
    border: solid 1px white;
    color: #151B23;
    font-size: large;
    border-radius: 2vh;
    text-align: center;
    margin-bottom: 20%;
}
.buttonStyle:hover{
    background-color: #151B23;
    color: white;
    cursor: pointer;
}